bin/
etc/
logFiles/
logs/
mail/
node/
node_modules/
npm/
perl5/
php/
public_ftp/
ssl/
tmp/
www
nodeError
err.log
-e
.asterisk_history
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.cpanel/
.dns
.ftpquota
.gemrc

.globalsign/
.lastlogin
.viminfo
.pearrc
.rnd
