@charset "utf-8";
/*-----------------structure css start from here------*/
#loading {
	left:0;
	top: 0;
	position:fixed;
	height:40px;
	background:#fff;
	z-index:99999;
}
.loading {
	margin:3px 10px;
}
#notification {
	display: none;
	left: 0;
	top: 30px;
	overflow:hidden;
	position:fixed;
	width: 100%;
	height:40px;
	background:rgba(255, 255, 255, .7);
	z-index:99999;
}

#head {
	z-index: 5;
	height:41px;
	clear:both;
	overflow:hidden;
}

#sidebar {
	width: 220px;
}
.toggleContent {
	width:10px;
	cursor:e-resize;
}
#page{
	/*margin-left:220px;*/
}
.menuSearch {
	height:25px;
	width:220px;
}
.groupSections {
	overflow:auto;
}
.title_wrapper {
	padding: 0 5px;
	position: fixed;
	top: 42px;
	left: 230px;
	right:0;
	height:35px;
	color: #fff;
	overflow:hidden;
	z-index:10;
}
.expcol{
	background:url(exp_coll_strip.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
}
.icowrap{
	background-color:#EE9C26;
    height: 17px;
	width:16px;
    padding: 3px;
	display:inline-block;
}
.expico{
	background-position:0 -16px;
}
.colico{
	background-position:0 0;
}
/*-------------------common color css start from here---------------------------*/
a {
	color:#6666FF;
}
#user_access a:link, #user_access a:visited, #user_access a:hover, #user_access a:active {
	color: #78d4fe;
}
.new_messages:link, .new_messages:visited, .new_messages:hover, .new_messages:active {
	color: #9ef185;
}
.notification .success {
	color:#8aad00;
}
#server_details{
	color: #6f818e;
}
#user_details_menu li.logout a {
	color:#c00
}
.section_menu a:link, .section_menu a:visited, .section_menu a:hover, .section_menu a:active{
	color: #5c757e;
}
.section_menu a:hover{
	color: #4e9cb8;
}
#footer a:link, #footer a:visited, #footer a:active {
	color: #7e858b;
}
#footer a:hover {
	color: #4d8dac;
}
.success h2 {
	color:#507201;
}
.warning h2 {
	color:#e4a100
}
.error h2 {
	color:#92531a
}
.information h2 {
	color:#0a4e81;
}
.User {
	color:#375391;
}
.Reseller {
	color:#CC00CC;
}
.uname {
	color:#E65C00;
}
.rname {
	color:#5C8A00;
}
.route {
	color:#82A800;
}
.url {
	color:#8560a8;
}
.noteBox a {
	color:#47B224;
}
strong, #user_details_menu li a:hover, .sidebar_menu a:link, .sidebar_menu a:visited, .sidebar_menu a:hover, .sidebar_menu a:active, .name, .cname {
	color:#000;
}
.table_wrapper td.ajxActive h3, .table_wrapper td.ajxActive label, #sec_menu a, .shortNote, .sidebar_menu li a:hover, .sidebar_menu li a.active, #user_details_menu .rt1, #user_details_menu .rtvc, #user_details_menu .rt2, #user_details_menu .rt4, .fundtab_ul li a.active, .words, #words, .button.custom, .button.grey, .button.black, .button.red, .button.purple, .button.orange, .button.green, .button.blue, #tiptip_content{
	color:#fff;
}
.table_wrapper .ajxActive td {
	color:#eee;
}
.menuTitleWrapper h2:hover, .active.menuTitleWrapper h2, .rute.des  {
	color:#333;
}
#user_details_menu li{
	color:#555;
}
.rqst_time {
	color:#666
}
.menuTitleWrapper, #user_details_menu li a {
	color:#777;
}
.sct_detail .msg, .actionFooter .des {
	color:#999;
}




/*-------------------common bg css start from here---------------------------*/
#user_access li.last, .sidebar_menu li.last, #footer li.last {
	background: none;
}
.witbg, .tempMenu, .sct, .tabOuter .tab:hover, .tabOuter .tab.active, .clickNedit:focus{
	background-color:#fff;
}
.blkbg, .last5Tlog tr.hd, .fundtab_ul li a {
	background-color:#000;	
}
.table_wrapper td.ajxActive, .table_wrapper .ajxActive td {
	background-color:#333;
}
.fundtab, .fundtab_ul li a.active{
	background-color:#444;
}
.lgreybg, #logo_user_details, #user_details_menu li, .noteBox{
	background-color:#f5f5f5;
}
.button.white.searchClientsubmit{
	background-color:#f3f3f3;
}
#sec_menu, #sec_menu li ul {
	background-color:#319ecf;
}
.shortNote, .toggleContent:hover {
	background-color:#696969;
}
.greybg, .menuTitleWrapper, .rt3, .user:hover, .tabOuter .tab{
	background-color:#eee;
}
.active.menuTitleWrapper {
	background-color:#ddd;
}
.purplebg, .title_wrapper, .sidebar_menu li a:hover, .sidebar_menu li a.active {
	background-color:#375391;
}
#closeQuickSrch {
	background-color:#ee9c26;
}
.section_content_footer ul{
	background-color: #ebf3f7;
}
#user_details_menu .rt1 {
	background-color:#33ADD6;
}
#user_details_menu .rtvc {
	background-color:#D4BB6B;
}
#user_details_menu .rt2 {
	background-color:#D95B44;
}
#user_details_menu .rt4 {
	background-color:#75A319;
}
/*------------------------------------------for border properties---------------------*/
.brdn, iframe, #search_wrapper form, #search_wrapper input.text, .menuSearch input, .clickNedit{
	border:none;
}
.brO, .ui-datepicker th, .ui-datepicker td{
	border:0;
}
.brd{ border:1px solid #ccc;}
.brdL{border-left:1px solid #ccc;}
.brdR{border-right:1px solid #ccc;}
.brdT{border-top:1px solid #ccc;}
.brdB{border-bottom:1px solid #ccc;}

/*------------------------------------------for font-weight properties---------------------*/
.rute .ttl, .User, .Reseller, .noteBox a {
	font-family:Arial, Helvetica, sans-serif;
}
.fn, .title_wrapper h2, .menuTitleWrapper h2, .tabOuter .more .tab{
	font-weight:normal;
}
.flite{font-weight:lighter;}
.fb, .rute .ttl, .name, .uname, .rname, .route, .url, .cname, .noteBox a, .notification, #user_details_menu li a, .User, .Reseller, .new_messages:link, .new_messages:visited, .new_messages:hover, .new_messages:active, .ui-datepicker th, .balanceInTable .rt, .tabOuter .tab.active{
	font-weight:bold;
}

/*------------------------------------------for increase or decrease font-size properties---------------------*/
.f10, .copy dt em, #server_details, #search_wrapper_menu li{
	font-size:10px;
}
.f11, .title_wrapper h2 span, .section_content_footer a:link, .section_content_footer a:visited, .section_content_footer a:hover, .section_content_footer a:active, #footer, .txt .exp, .sct_detail .msg, .rqst_time, .actionFooter .des, #tiptip_content, #user_details_menu li, #user_details_menu li a, #user_access, #search_wrapper input.text {
	font-size:11px;
}
.f12, .rute.des, .clickNedit, .noteBox{
	font-size:12px;
}
.f13,  body{
	font-size:13px;
}
.f14, .section_menu a:link, .section_menu a:visited, .section_menu a:hover, .section_menu a:active, .notification, .sct_detail .qry{
	font-size:14px;
}
.f15{
	font-size:15px;
}
.f16{
	font-size:16px;
}
.rute .ttl, .bigUname, .iconhd, .shortNote, .menuTitleWrapper h2{
	font-size:18px;
}
.f20, .title_wrapper h2{
	font-size:20px;
}
.f24, #notification h2{
	font-size:24px;
}

/*------------------------------------------for common positions properties---------------------*/
.pa, #sec_menu li ul, #search_wrapper, #search_wrapper .go input, .shortNote, .title_wrapper h2 span, .scb_left, .scb_right, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .tabOuter .more, #tiptip_holder, #tiptip_arrow, #tiptip_arrow_inner{
	position:absolute;
}
.pr, #sec_menu li, #search_wrapper .go, .scb, .ui-datepicker .ui-datepicker-header, .success, .warning, .error, .information, .tabOuter .moreIcon, .clickNedit:focus, .button, input[type="submit"]{
	position:relative;
}
.pf, .tempMenu{
	position:fixed;
}

.top, #sec_menu li, #search_wrapper .go, .scb, .scb_left, .scb_right, #tiptip_holder{
	top:0;
}
.left, #sec_menu li, #search_wrapper .go, .scb, #tiptip_holder{
	left:0;
}
.right{
	right:0;
}
.bottom{
	bottom:0;
}

.t35{top:35px;}
.t42{top:42px;}
.b20{bottom:20px;}
.l220{left:220px;}
.l230{left:230px;}

/*---------------------for common padding use this classes u can also add class here---------------*/
.pad{padding:5px;}
.pad1{padding:10px;}

/*------------------------------------for display properties add your class here------------*/
.dn, .ajxcontent, #closeQuickSrch, #sec_menu li ul, .shortNote, #sidebar .section_content, #loading, .wall, .tabOuter .more, .fundtab, #tiptip_holder {
	display:none;
}
.db, #user_details_menu li a, .new_messages:link, .new_messages:visited, .new_messages:hover, .new_messages:active, #server_details dl, #sec_menu li:hover ul, #sec_menu ul ul a:link, #sec_menu ul ul a:visited, #sec_menu ul ul a:hover, #sec_menu ul ul a:active, #sec_menu a, .drop, .drop span, .drop span span, #search_wrapper input.text, #search_wrapper .go, .section_menu a:link, .section_menu a:visited, .section_menu a:hover, .section_menu a:active, .section_menu a span, .section_menu a span span, .scb, .scb_left, .scb_right,
.sidebar_menu a:link, .sidebar_menu a:visited, .sidebar_menu a:hover, .sidebar_menu a:active, .scf, .section_content_footer a:link, .section_content_footer a:visited, .section_content_footer a:hover, .section_content_footer a:active, .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span, .ui-datepicker td span, .ui-datepicker td a, .success, .warning, .error, .information, .rute, .balanceInTable .btLi, .wall.msg, .sct_icon, .sct_detail .qry, .fundtab_ul li, .fundtab_ul li a, .actionFooter .des  {
	display:block;
}
.din, .button, input[type="submit"], .button span{
	display:inline-block;
}
#server_details dl, #server_details dt, #server_details dd{
	display: inline;
}

/*----------------------------for floating object you can add you class here css*/
.fl, .fltlt, #logo, #user_access, #user_access li, #server_details, #menus_wrapper, #sec_menu, #sec_menu ul, #sec_menu ul li, #sec_menu li ul, #sec_menu a, .drop, .drop span, #search_wrapper, #search_wrapper label, #search_wrapper_menu li, .title_wrapper h2, .section_menu a:link, .section_menu a:visited, .section_menu a:hover, .section_menu a:active, .sidebar_menu li, .section_content_footer li, .section_content_footer a:link, .section_content_footer a:visited, .section_content_footer a:hover, .section_content_footer a:active, .copy dt, .copy dd, .quick_links, .quick_links dt, .quick_links dd, .quick_links ul, .quick_links li, .help_links dt, .help_links dd, .help_links ul, .help_links li, .ui-datepicker .ui-datepicker-title select, .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-multi .ui-datepicker-group, .ui-datepicker-rtl .ui-datepicker-buttonpane button, .balanceInTable .btLi .ui-icon, .balanceInTable .balance, .clsRt, .clsRt .ui-icon, .sct_icon, .tabOuter .tab, .tabOuter .moreIcon, .fundtab_ul li, #templtnew    {
	float:left;
}
.fr, .fltrt, #user_details_menu, #sec_menu ul ul li, #sec_menu ul ul a:link, #sec_menu ul ul a:visited, #sec_menu ul ul a:hover, #sec_menu ul ul a:active, #search_wrapper .go, .section_menu, .section_menu li, .help_links, .ui-datepicker .ui-datepicker-title select.ui-datepicker-year, .ui-datepicker .ui-datepicker-buttonpane button, .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group, .rute .ttl .ui-icon, .balanceInTable .ratio {
	float:right;
}
.clr, .clf, #search_wrapper, .ui-datepicker-row-break{
	clear:both;
}

/*-----------------------common css start from here--------------*/
.ln, #user_details_menu li, #sec_menu li, #search_wrapper_menu li, .section_menu li, .sidebar_menu li, .section_content_footer li, .quick_links li, .help_links li{
	list-style:none;
}
.oh, #search_wrapper, .sidebar_menu, .quick_links dt, .quick_links dd, .help_links dt, .help_links dd, #search_wrapper .go, .menuTitleWrapper, .scb_left, .scb_right, .section_content_footer, .section_content_footer ul, .scf, .balanceInTable .btLi, .update_sct, .fundtab_ul, .fundtab, #user_details  {
	overflow: hidden;
}
.success, .warning, .error, .information, .ui-datepicker .ui-datepicker-buttonpane button {
	overflow: visible;
}

.cr, #search_wrapper .go, #search_wrapper .go input, .menuTitleWrapper, #sidebar .title_wrapper, .ui-datepicker .ui-datepicker-buttonpane button, .user, .tabOuter .tab:hover, .tabOuter .moreIcon, .clickNedit, .button, input[type="submit"]{
	cursor:pointer;
}
.clickNedit:focus{
	cursor:text;
}

/*-------------------------for common width add your class here-----------*/

.wid100, #user_details_menu, #server_details, #menus_wrapper, #sec_menu, #search_wrapper, #search_wrapper input.text, .tempMenu, .shortNote, .sidebar_menu, .sidebar_menu li, .section_content_footer, .copy dt, .copy dd, .quick_links dt, .quick_links dd, .help_links dt, .help_links dd, .ui-datepicker select.ui-datepicker-month-year, .ui-datepicker table, .ui-datepicker-row-break, .wall_left, .clickNedit:focus, .button span  {
	width:100%;
}
.ui-datepicker-multi .ui-datepicker-group table, .clickNedit {
	width:95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group, .copy {
	width:50%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width:33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width:25%;
}

/*---------------------------for common backgrounds add your class here---------*/


